h1, h2{
    text-align: center;
    color: white;
}

body{
    background-color: rgb(22, 36, 48);
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    


}

.parrafos{
    color: white;
    text-align: center;
}

.imgRedonda{
    width: 200px;
    height: 270px;
    border-radius: 60px;
    border: 4px solid rgb(49, 40, 40);
    margin: 10px auto 10px;
    display: block;
    box-shadow: 0cap 4px 6px;
}

.menu{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    background-color: 46466D;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0cap 4px 6px ;
    
}

.boton{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background-color: rgb(39, 39, 73);
    border-radius: 13px;
    transition: background-color 1.0 ease, background-color 1.0 ease;
    display: inline-block;
}

.menu li{
    margin-right: 20px;
    color: white;
}

.menu ul{
    text-align: center;
}

.menu li a:hover{
    color: rgb(23, 207, 232);
}

.menu li:last-child{
    margin-right: 0%;
}

